
.navbar{
    color: white;
    padding: 10px;

    box-shadow: 0 0 10px rgba(9, 42, 226, 0.5);
}

.tabela{
    width: 60%;
    align-items: center;
    margin: auto;
    display: flex;
    border: 1px solid #00796b;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(9, 42, 226, 0.5);
   

    
}

.dividir{
    
}
.dividir {
    border-left: 1px solid #00796b!important;
    border-right: 1px solid #00796b !important;
    
    border-top:  1px solid #00796b !important;
    padding: 10px;

}

.dividir2{
    border-left: 1px solid #00796b !important;
    border-right: 1px solid #00796b!important;
    border-bottom: 1px solid #00796b !important;
   
 
    
}
#titulo1{
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
   
}
#titulo2{
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
   
}



