
.navbar{
    color: white;
    padding: 10px;

    box-shadow: 0 0 10px rgba(252, 252, 252, 0.5);
}

.tabela{
    width: 60%;
    align-items: center;
    margin: auto;
    display: flex;
    border: 1px solid #00796b;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(245, 244, 244, 0.8);
   

    
}


.dividir {
    border-left: 1px solid #00796b!important;
    border-right: 1px solid #00796b !important;
    border-top:  1px solid #00796b !important;
    padding: 10px;

}

.dividir2{
    border-left: 1px solid #00796b !important;
    border-right: 1px solid #00796b!important;
    border-bottom: 1px solid #00796b !important;
   
 
    
}
#titulo1{
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
   
}
#titulo2{
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}
   

.cadastro{
    background-color: #f8f9fa !important;
    border: 1px solid #00796b !important;
    border-radius: 10px !important;
    padding: 10px !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
    margin: 2rem!important;
    width: 45% !important;
    
    
   
  }
#resultado {
    background-color: #f8f9fa !important;
    border: 1px solid #00796b !important;
    border-radius: 10px !important;
    padding: 25px !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
    margin: 2rem !important;
    width: 90% !important;
    height: 85% !important;
    
    display: none;
}

.nav-item:hover{
    background-color: #00796b !important;
    border-radius: 10px;
    color: #f8f9fa;
}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
}